a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
ul {
  padding: 0;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.nav {
  display: flex;
  height: 140px;
  align-content: center;
  background-color: tomato;
}
.navitems ul {
  width: 450px;
  font-size: 15px;
  font-weight: 10px;
  display: flex;
  padding-left: 0;
  justify-content: space-between;
}
.search {
  margin-left: 30px;
  display: flex;
  align-content: center;
  margin-top: 1.5vh;
}
.searchbox {
  width: 400px;
  height: 35px;
  background-color: #f4f4f4;
  border: none;
  padding-left: 15px;
}
.searchbtn {
  height: 37px;
  width: 50px;
  background-color: #e7e7e7;
  border: none;
  background: url(./image/Bi2.png);
  cursor: pointer;
}
.img {
  margin-top: 5px;
  margin-left: 50px;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  z-index: 1000;
}
.user {
  font-weight: 10px;
  height: 30px;
  display: flex;
  font-size: 15px;
  font-size: 15px;
  font-weight: 10px;
  align-items: center;
  margin-top: 10px;
  justify-content: flex-start;
}
.submit {
  height: 35px;
  width: 100px;
  background-color: rgb(251, 114, 153);
  border: 0;
  border-radius: 4px;
  color: white;
  margin-top: 5px;
}
.user li{
  margin-left: 10px;
  width: 35px;
}
.user li:nth-child(6){
  width: 70px;
}
.user li:nth-child(1){
  width: 50px;
}
.category {
  width: 1200px;
  height: 100px;
  display: flex;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category ul {
  display: flex;
  width: 200px;
  justify-content: space-between;
  font-size: 15px;
}
.category ul li a {
  display: flex;
  flex-direction: column;
  height: 60px;
  align-items: center;
}
.line1 {
  float: left;
  margin-top: 20px;
  width: 1px;
  height: 55px;
  background: darkgray;
  margin-left: 5px;
}
.nav2 {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  height: 70px;
  margin-top: 14px;
}
.nav2 a {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 5px;
}
.nav2 a span {
  display: inline-block;
  font-size: 3px;
  text-align: center;
  color: white;
  background-color: rgb(115, 201, 229);
  border-radius: 2px;
  margin-left: 2px;
  width: 30px;
}
.line2 {
  float: left;
  margin-top: 20px;
  width: 1px;
  height: 55px;
  background: darkgray;
  margin-left: 5px;
}
.nav3 {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  width: 230px;
  align-items: center;
  height: 55px;
  margin-top: 20px;
}
.nav3 a {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.push {
  padding: 0;
  width: 1200px;
  display: flex;
  flex-flow: row nowrap;
}
.l-wrap {
  padding: 0;
  position: relative;
  width: 540px;
  height: 250px;
}
.l-wlist {
  padding: 0;
  margin-top: 0;
}
.l-wlist li {
  position: absolute;
  width: 520px;
  height: 250px;
  z-index: 1; 
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.item:nth-child(1) {
  background-image: url(./image/video/5.jpeg);}
.item:nth-child(2) {
  background-image: url(./image/video/1.jpg);
}
.item:nth-child(3) {
  background-image: url(./image/video/3.jpg);
}
.item:nth-child(4) {
  background-image: url(./image/video/4.jpeg);
}
.item {
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
  cursor: pointer;
}
.item.active {
  z-index: 10;
  opacity: 1;
}
.point.active {
  background-color: rgb(0, 161, 214);
  border: solid;
  border-width: 2px;
  border-color: white;
}
.pointlist {
  padding: 0;
  position: absolute;
  z-index: 100;
  right: 18px;
  bottom: 0;
}
.point {
  cursor: pointer;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 100%;
  float: left;
  margin-left: 18px;
}
.r-banner {
  width: 680px;
  height: 250px;
  padding: 0;
}
.arealist {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  align-content: space-between;
}
.area {
  width: 200px;
  height: 110px;
  margin-bottom: 10px;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  color: #e7e7e7;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.area:nth-child(1) {
  background-image: url(./image/video/10.jpeg);
}
.area:nth-child(2) {
  background-image: url(./image/video/video2.png);
}
.area:nth-child(3) {
  background-image:url(./image/video/9.jpeg);
}
.area:nth-child(4) {
  background-image: url(./image/video/8.jpeg);
}
.area:nth-child(5) {
  background-image: url(./image/video/6.jpg);
}
.area:nth-child(6) {
  background-image:url(./image/video/7.jpg);
}
.area span {
  display: block;
  font-size: 15px;
  position: absolute;
  margin-bottom: 0;
  bottom: 0;
  width: 200px;
  height: 30px;
  overflow: hidden; 
  opacity: 0.9;
}
.area p {
  margin-top: 10px;
}
.area:hover .infor {
  background-color: rgb(49, 57, 59);
  height: 110px;
  transition-timing-function: linear;
  text-overflow: ellipsis;
  transition-duration: 0.08s;
}
.text {
  display: block;
  margin-top: 20px;
  font-size: 10px;
  margin-top: 30px;
}
.area div {
  margin-left: 10px;
  padding: 0;
}
.stream {
  display: block;
  margin-top: 5px;
  font-size: 10px;
}
.live {
  margin-top: 10px;
  width: 1200px;
  height: 450px;
}
.title1 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 50px;
  margin-left: 10px;
  width: 1125px;
}
.title1 a {
  margin-left: 10px;
  font-size: 20px;
}
.live-man {
  font-size: 10px;
  margin-left: 50px;
}
.change {
  margin-left: 430px;
}
.change button {
  margin-right: 10px;
}
.livelist {
  display: flex;
  flex-flow: row wrap;
  width: 850px;
  height: 380px;
  padding: 0;
}
.livewd {
  width: 200px;
  height: 170px;
  margin-left: 10px;
  padding: 0;
  display: flex;
}
.pic {
  width: 200px;
  height: 100px;
  background-color: bisque;
  padding: 0;
  top: 0;
  display: flex;
}
.livewd:nth-child(1) {
  background-color: lightgreen;
}
.livewd:nth-child(2) {
  background-color: lightpink;
}
.livewd:nth-child(3) {
  background-color: lightskyblue;
}
.livewd:nth-child(4) {
  background-color: lightyellow;
}
.livewd:nth-child(5) {
  background-color: lightslategray;
}
.livewd:nth-child(6) {
  background-color: lightsteelblue;
}
.livewd:nth-child(7) {
  background-color: cyan;
}
.livewd:nth-child(8) {
  background-color: deeppink;
}
.liver-list span {
  margin-left: 20px;
  cursor: pointer;
}
.liver-list .livewd span {
  display: flex;
  background-color: black;
}
.headbox{
  border-radius: 2px;
  position: absolute;
  height: 500px;
  background-color: rgb(255,255,255);
  width: 200px;
  right: 390px;
  top: 40px;
  z-index: 100;
  flex-flow: column nowrap;
  font-size: 15px;
  align-items: center;
  display: none;
  transition-property:all;
}
.headbox ul li div{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-left: 10px;
}
.headbox ul li {
  display: inline-block
}
.headbox div ul{
  flex-flow: row nowrap; 
}
.level{
  margin-top: 30px;
  margin-right: 50px;
}
.choice{
  font-size: 17px;
  margin: top 50px ;
}
.choice li{
  margin-top: 20px;
  font-weight: 10px;
  margin-right: 20px;
  cursor: pointer;
}